.AttachmentContainer {
    display: flex;
    justify-content: flex-start; /* or flex-end for own messages */
    margin: 8px 0;
}

.AttachmentBubble {
    background-color: #14395e;
    padding: 12px 16px;
    border-radius: 12px;
    color: white;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FileInfo {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    word-break: break-word;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.SaveButton {
    margin: auto;
    align-self: flex-start;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SaveButton:hover {
    background-color: #2980b9;
    font-weight: 500;
}
.SaveButton:active{
    transform: scale(0.95);
}
