.chatInfoContainer{
    position: fixed;
    width: 700px;
    height :510px;
    top: 5%;
    left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(229, 231, 235, 0.6);
    border-radius: 20px;
    background-color: rgb(231, 233, 235);
    z-index: 1000000;
}

.leftContainer{
    background-color: rgb(235, 244, 252);
    width: 30%;
    height: 100%;
    padding:1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.rightContainer{
    width: 70%;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.leftContainer button {
    padding: 10px 4px;
    border: 1px solid skyblue;
    border-radius: 10px;
    background-color: skyblue;
    color: white;
    font-weight: 450;
    transition: all 0.2s ease-in;
}

.leftContainer button:hover{
    background-color: rgb(112, 201, 236);
    transform: scale(1.02);
}

.leftContainer button:active{
    background-color: rgb(177, 210, 223);
    transform: scale(1);
}
.closeButton{
    margin-left: auto;
    cursor: pointer;
    border-radius: 50%;
    padding: 3px;
    transition: all 0.3s ease;
}

.closeButton:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    transform: scale(1.1); 
}
.closeButton:active{
    transform: scale(0.75);
     background-color: rgba(54, 54, 54, 0.2);
}

.infoDisplayContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.chatName{
    color: black;
    font-weight: 500;
}

.chatInfoDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(141, 140, 140);
    offset: 2px;
}