.body{
    background-color: aliceblue;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.chatContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.chatGroup{
    width: 400px;
    display: flex;
    align-items: center;
    gap:15px;
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition:all 0.3s ease;
}
.chatGroup:hover{
    transform: translateY(-2px);
}
.active{
    background-color: rgba(255, 255, 255, 0.664);
    border-color: #91d5ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}
.chatName {
    font-family:'Inter', sans-serif;
    margin-left: 14px;
    font-size: 0.95rem;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active .chatName {
    font-weight: 600;
    color: #0050b3;
}
