.ChatContainer{
    cursor: pointer;
    margin: 10px 10px;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all ease-in;
}
.ChatContainer:hover{
    background-color: lightgray;

}
.active {
    background-color: #e0e0e0;
    font-weight: bold;
}

.Section {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 9px 0;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
}

.faEllipsisV {
    color: black;
    padding: 10px;
    margin: 0px 10px;
    pointer-events:auto;
    cursor: pointer;
    width: fit-content;
    height:fit-content;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.faEllipsisV:hover {
    background-color: rgba(156, 151, 151, 0.1);
}
.errorMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #888;
    font-size: 16px;
}

.ShowBox {
    position: absolute;
    top:100%;/* Position below the icon */
    right: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    min-width: 150px;
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ShowBox p {
    padding: 10px 16px;
    color: grey;
    font-size: medium;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.ShowBox p:hover {
    border-radius: 10px;
    background-color: #f5f5f5;
}